.wrapper {
    height: 100vh;
    margin: 20px;
    min-width: 800px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 175px 235px 1fr;

    gap: 20px;

    grid-template-areas:
        "container1"
        "container2"
        "hello";
}

.container1 {
    grid-area: container1;
    border: 5px solid black;
}

.container2 {
    grid-area: container2;
    border: 5px dotted black;
    display: inline-flex;
}

.hello {
    grid-area: hello;
}

#purpure {
    display: inline-block;
    background-color: #8A2BE2;
    width: 40px;
    height: 115px;

    margin: 40px 0 20px 8px;
}

#green {
    display: inline-block;
    background-color: #228B22;
    width: 262px;
    height: 150px;

    margin: 8px 0 20px 34px;
}

#lightBlue {
    display: inline-block;
    background-color: #87CEEB;
    width: 152px;
    height: 152px;
    border-radius: 50%;

    margin: 8px 0 20px 36px;
}

#yellow {
    width: 100%;
    height: 152px;
    margin: 40px;
    background-color: #FFFACD;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

#hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 242px;
    border: 1px solid grey;
    margin: 0 auto;
}

#hello p {
    margin: 0;
    letter-spacing: 10px;
    color: darkblue;
    font-weight: 600;
}